.app-layout-chat {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #D3DEE7;
}

.main-content-chat {
  flex: 1;
  padding-top: 4.5em;
  padding-bottom: 0px;
}

.page-container-chat {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0px;
}

@media (max-width: 768px) {
  .app-layout-chat{
    min-height: 100dvh;
  }

  .main-content-chat {
    padding-top: 4em;
    min-height: 0px;
  }
}
