.forgot-password-page {
  position: relative;
  overflow: hidden;
}

.paw {
  position: absolute;
  width: 70px;
  height: 70px;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.85;
  display: none;
  animation: wave 2.2s ease-in-out infinite;
  animation-delay: var(--delay, 0s);
  transform-origin: center bottom;
  will-change: transform;
  transform-box: fill-box;
  transform-origin: center bottom;
  backface-visibility: hidden;
}


@media (min-width: 800px) {
  .paw { display: block; }
}

.pawA { background-image: url("/src/icons/blue_paw.svg"); }
.pawB { background-image: url("/src/icons/black_paw.svg"); }

@keyframes wave {
  0%   { transform: rotate(calc(var(--rot, 0deg) - 15deg)); }
  50%  { transform: rotate(calc(var(--rot, 0deg) + 15deg)); }
  100% { transform: rotate(calc(var(--rot, 0deg) - 15deg)); }
}

.p1  { top: 1
  px; left: 8%;  width: 60px; --rot: 0deg; --delay: 0s; }
.p6  { top: 240px; left: 21%; width: 40px; --rot: 0deg; --delay: 0.4s; }
.p3  { top: 320px; left: 8%;  width: 65px; --rot: 0deg; --delay: 1s; }
.p8  { bottom:170px; left:19%; width: 45px; --rot:  0deg; --delay: 1.2s; }

.p5  { bottom: 80px; left: 38%; width: 60px; --rot:   0deg; --delay: 1.4s; }
.p10 { bottom:80px; right:35%; width: 50px; --rot:  0deg; --delay: 2s; }

.p4  { bottom: 170px; right: 19%; width: 50px; --rot:  0deg; --delay: 0.6s; }
.p9  { top:320px; right:8%; width: 65px; --rot: 0deg; --delay: 1.6s; }
.p7  { top: 240px; right:21%; width: 45px; --rot: 0deg; --delay: 0.2s; }
.p2  { top: 115px; right: 8%; width: 60px; --rot:  0deg; --delay: 0.6s; }

.forgot-password-main {
  width: 100%;
  max-width: 350px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  margin: 0 auto;
  background-color: white;
  padding: 30px 35px;
}

.forgot-password {
  text-align: center;
}