.forgot-password-page {
  background-color: #D3DEE7;
  min-height: 100vh;
  padding-top: 80px; /* navbar height */
}

/* Card container */
.forgot-password-container {
  width: 400px;
  margin: auto;
  background: white;
  padding: 24px 32px 20px;
  border-radius: 15px;
  box-shadow: 0 15px 30px rgba(0, 107, 203, 0.3);
  text-align: right;
}

/* Titles */
.forgot-password-title {
  color: #006BCB;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.forgot-password-subtitle {
  color: rgba(0,0,0,0.7);
  font-size: 14px;
  text-align: center;
  margin-bottom: 24px;
}

/* fields */
.field-label {
  display: block;
  font-size: 15px;
  margin: 0px 5px 5px 0px;
}

/* Input fields */
.input-wrapper {
  position: relative;
  margin-bottom: 16px;
}

.input-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.text-input {
  width: 99%;
  padding: 8px 40px 8px 12px;
  border-radius: 10px;
  border: 1px solid #55A5EC;
  background-color: #E1E7ED;
  font-size: 14px;
  outline: none;
}

.verify-btn {
  width: 98.5%;
  border: none;
  border-radius: 10px;
  background-color: #55A5EC;
  color: #ffffff;
  padding: 7px;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
  margin-bottom: 18px;
}

.forgot-password {
    text-align: center;
}

.forgot-password-link {
  border: none;
  background: none;
  color: rgba(0,0,0,0.7);
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
}