/* main box */
.login-main {
  width: 100%;
  max-width: 750px;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  margin: 0 auto;
  background-color: white;
}

/* login image */
.login-img {
  grid-column: 14/-1;
}

.login-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* card */
.login-card {
  padding: 30px 35px;
  grid-column: 1/14;
}

/* forgot password */
.forgot-pass {
  text-decoration: none;
  display: block;
  color: #006BCB;
  margin-bottom: 20px;
}

/* login button */
.login-btn {
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: #55A5EC;
  color: #ffffff;
  padding: 9px;
  font-size: 1em;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.arrow {
  width: 8%;
}

/* sign up */
.signup-text {
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}

.signup-link {
  text-decoration: none;
  color: #006BCB;
  font-weight: 600;
}

/* responsive */
@media screen and (max-width: 900px) {
  .login-page {
    font-size: 13px;
  }

  .login-main {
    grid-template-columns: 1fr;
    max-width: 350px;
  }

  .login-img {
    display: none;
  }

  .login-card {
    padding: 25px 30px;
  }
}