.login-page {
  background-color: #D3DEE7;
  min-height: 100vh;
  padding-top: 64px;
}

.login-main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48px 16px;
}

/* card */
.login-card {
  width: 80%;
  max-width: 380px;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 24px 32px 20px;
  box-shadow: 0 15px 30px rgba(0, 107, 203, 0.3);
  text-align: right;
}

.login-title {
  font-size: 18px;
  font-weight: 700;
  color: #006BCB;
  text-align: center;
  margin-bottom: 4px;
}

.login-subtitle {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  margin-bottom: 24px;
}

/* fields */
.field-label {
  display: block;
  font-size: 15px;
  margin: 0px 5px 5px 0px;
}

.input-wrapper {
  position: relative;
  margin-bottom: 15px;
}

.input-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #95a5a6;
}

.text-input {
  width: 82%;
  padding: 8px 40px 8px 12px;
  border-radius: 10px;
  border: 1px solid #55A5EC;
  background-color: #E1E7ED;
  font-size: 14px;
  outline: none;
}

.text-input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

/* forgot password */
.forgot-pass {
  border: none;
  background: none;
  color: #006BCB;
  font-size: 13px;
  margin-bottom: 22px;
  cursor: pointer;
}

/* login button */
.login-btn {
  width: 98.5%;
  border: none;
  border-radius: 10px;
  background-color: #55A5EC;
  color: #ffffff;
  padding: 7px;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
  margin-bottom: 18px;
}

/* divider */
.divider {
  width: 98.5%;
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  gap: 8px;
}

.divider-line {
  flex: 1;
  height: .8px;
  background-color: rgba(0, 0, 0, 0.3);
}

.divider-text {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
}

/* Google button */
.google-btn {
  width: 98%;
  border-radius: 10px;
  border: 1px solid #E1E7ED;
  background-color: #ffffff;
  padding: 5px 0;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

/* sign up */
.signup-text {
  text-align: center;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.7);
}

.signup-link {
  border: none;
  background: none;
  color: #006BCB;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
}

/* responsive */
@media (max-width: 480px) {
  .login-card {
    width: 100%;
    padding: 24px 20px;
  }
}