.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #D3DEE7;
}

.main-content {
  flex: 1;
}

.page-container {
  max-width: 1500px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .main-content {
    padding-top: 72px;
    padding-bottom: 32px;
  }

  .page-container {
    padding: 16px;
  }
}


@media (max-width: 360px) {
  .page-container {
    padding: 1px;
  }
}