.reset-password-main {
  width: 100%;
  max-width: 350px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  background-color: white;
  padding: 30px 35px;
  margin: 0 auto;
}

.reset-password-btn {
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: #55A5EC;
  color: #ffffff;
  padding: 9px;
  font-size: 1em;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  text-decoration: none;
}

.reset-password {
    text-align: center;
}

.reset-password-link {
  text-decoration: none;
  color: #006BCB;
  font-weight: 600;
}