.auth-main {
  max-width: 1040px;
}

.verify-main {
  text-align: center;
}

.auth-context-ltr {
  direction: ltr;
}

.auth-card {
  grid-column: 1 / span 13;
}

.auth-img {
  grid-column: 14 / -1;
}

.verify-card {
  grid-column: 1 / span 14;
}

.verify-img {
  grid-column: 15 / -1;
}

.login-main .forgot-pass {
  margin-bottom: 1.2em;
}

@media (max-width:768px) {
  .auth-main {
    max-width: 560px;
  }

  .forgot-password-main,
  .verify-main,
  .reset-password-main {
    height: auto;
    min-height: 0;
    max-height: none;
  }

  .auth-img,
  .verify-img {
    display: none;
  }

}

@media (max-width:480px) {
  .auth-main {
    max-width: 400px;
  }

  .forgot-password-main,
  .verify-main,
  .reset-password-main {
    height: auto;
    min-height: 0;
    max-height: none;
  }

}

@media (max-width:360px) {
  .auth-main {
    max-width: 300px;
  }

  .forgot-password-main,
  .verify-main,
  .reset-password-main {
    height: auto;
    min-height: 0;
    max-height: none;
  }

}
